ultralytics
torch
torchvision
torchaudio
numpy
opencv-python
ros2_numpy
pandas
tqdm
seaborn
colcon-common-extensions
gitpython>=3.1.30
setuptools>=70.0.0
gitdb<5,>=4.0.1
smmap==5.0.2
onnxruntime-gpu
scipy
insightface
resemblyzer
openai-whisper